{% if paginate.previous.is_link -%}
<a href="{{ paginate.previous.url }}" class="prev" title="{{ 'layout.general.previous' | t }}">{%- render 'icons-theme', icon: 'left', size: '12' -%}</a>
<span class="separator" aria-hidden="true"></span>
{%- endif -%}
{{ 'collections.general.current_page' | t: current: paginate.current_page, total: paginate.pages }}
{%- if paginate.next.is_link -%}
<span class="separator" aria-hidden="true"></span>
<a href="{{ paginate.next.url }}" class="next" title="{{ 'layout.general.next' | t }}">{%- render 'icons-theme', icon: 'right', size: '12' -%}</a>
{%- endif -%}