{%- assign full_width = section.settings.full_width -%}

{% if section.blocks.size == 0 %}
{%- assign section_onboarding = true -%}
{% else %}
{%- assign section_onboarding = false -%}
{% endif %}

<section data-section-id="{{ section.id }}" 
         data-section-type="home_image_with_text" 
         class="{% if full_width and section.settings.include_color != 'color-none' %}background-colored {{ section.settings.include_color }} colored-top-bottom {% endif %}{% if section.settings.include_color == 'color-none' %}margins-section {% endif %}{% if settings.animation_enable %}animate-section-div {% endif %}clearfix">

  <div class="container clearfix">
    <div{% if full_width == false and section.settings.include_color != 'color-none' %} class="twelve"{% endif %}>
      <div class="tab-body{% if full_width == false and section.settings.include_color != 'color-none' %} twelve background-colored {{ section.settings.include_color }} colored-top-bottom{% endif %}">

        {% if section_onboarding %}
        <div class="twelve text-center">
          <h2>{{ 'homepage.onboarding.no_title' | t }}</h2>
          <h3>{{ 'homepage.onboarding.no_body' | t }}</h3>
        </div>
        {% endif %} 

        <div class="product-loop center{% if settings.animation_enable %} animate-section load{% endif %}">

          {% for block in section.blocks %} 

          {%- assign block_width = block.settings.block_width -%}
          {% case block_width %}
          {% when '2' %}
          {%- assign block_width = 'two' -%}     
          {%- assign size = 220 -%}
          {% when '3' %}
          {%- assign block_width = 'three' -%}     
          {%- assign size = 320 -%}
          {% when '4' %}
          {%- assign block_width = 'four' -%}     
          {%- assign size = 480 -%}
          {% when '6' %}
          {%- assign block_width = 'six' -%}      
          {%- assign size = 600 -%}
          {% when '8' %}
          {%- assign block_width = 'eight' -%}      
          {%- assign size = 780 -%}
          {% when '9' %}
          {%- assign block_width = 'nine' -%}      
          {%- assign size = 960 -%}
          {% when '10' %}
          {%- assign block_width = 'ten' -%}      
          {%- assign size = 1024 -%}
          {% when '12' %}
          {%- assign block_width = 'twelve' -%}      
          {%- assign size = 1280 -%}
          {% endcase %}

          {% case block.type %}

          {% when 'text' %}

          {% if block.settings.title == blank and block.settings.sub_title == blank and block.settings.body == blank and block.settings.link == blank %}
          {%- assign section_onboarding = true -%}
          {% else %}
          {%- assign section_onboarding = false -%}
          {% endif %} 

          <div class="product {{ block_width }} animate animate-loop-{{ forloop.index0 }} {{ section.settings.vertical_content_alignment }}" {{ block.shopify_attributes }}>
            <div class="table">
              <div class="table-cell {{ section.settings.vertical_content_alignment }} {{ block.settings.text_alignment }}">
                <div class="no-height">
                  <div{% if block.settings.link != blank %} class="bottompad"{% endif %}>
                    {% if section_onboarding %}
                    <h2>{{ 'homepage.onboarding.no_title' | t }}</h2>
                    <p>{{ 'homepage.onboarding.no_block_body' | t }}</p>
                    {% else %}
                    {% if block.settings.title != blank %}<h2>{{ block.settings.title | escape }}</h2>{% endif %}
                    {% if block.settings.sub_title != blank %}<h3>{{ block.settings.sub_title | escape }}</h3>{% endif %}
                    {% if block.settings.body != blank %}{{ block.settings.body }}{% endif %}
                    {% if block.settings.link != blank %}<a href="{{ block.settings.link | escape }}" title="{% if block.settings.title != blank %}{{ block.settings.title | escape }}{% else %}{{ 'homepage.onboarding.no_more' | t }}{% endif %}" class="btn{% if block.settings.outline_button %} outline{% endif %}">{% if block.settings.button != blank %}{{ block.settings.button | escape }}{% else %}{{ 'homepage.onboarding.no_more' | t }}{% endif %}</a>{% endif %}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% when 'image' %}
          
          {% if block.settings.block_img != blank and block.settings.image_fit =='cover' %}
          {%- assign img_src = block.settings.block_img -%}
          {%- capture image_data -%}{%- render 'image-background-src', img_src: img_src, size: size -%}{%- endcapture -%}
          {% endif %}
          
          <div class="product {{ block_width }} animate animate-loop-{{ forloop.index0 }} {{ section.settings.vertical_content_alignment }}" {{ block.shopify_attributes }}>
            {% if block.settings.link != blank and block.settings.block_img != blank and block.settings.image_fit =='cover' %}<a class="tab-body"  href="{{ block.settings.link | escape }}" title="{% if block.settings.block_img.alt != blank %}{{ block.settings.block_img.alt | escape }}{% else %}{{ block.settings.block_img | split: '/' | last | replace: '-', ' ' | replace: '_', ' ' | split: '.' | first | capitalize }}{% endif %}">{% endif %} 
            <div class="table{% if block.settings.block_img != blank and block.settings.image_fit =='cover' %} content-height-{{ section.id }} background-cover lazyload{% endif %}"
                 {% if block.settings.block_img != blank and block.settings.image_fit =='cover' %}
                 data-bgset="{{ image_data | strip }}"
                 data-sizes="auto"
                 style="background-repeat: no-repeat;background-position: {{ block.settings.background_alignment }};"
                 {% endif %}>
              {% if block.settings.block_img != blank and block.settings.image_fit =='cover' %}
              <noscript>
                {%- assign size = size | append: 'x' -%}
                <div class="no-js-bg background-cover content-height-{{ section.id }} " style="background:url({{ img_src | img_url: size }}) {{ block.settings.background_alignment }} no-repeat;"></div>
              </noscript>
              {% endif %}
              <div class="table-cell {{ section.settings.vertical_content_alignment }}">
                <div class="no-height center image"{% if block.settings.block_img != blank %} style="max-width:{{ block.settings.block_img.width }}px"{% endif %}>
                  {%- capture alt -%}{% if block.settings.block_img.alt != blank %}{{ block.settings.block_img.alt }}{% else %}{{ block.settings.block_img | split: '/' | last | replace: '-', ' ' | replace: '_', ' ' | split: '.' | first | capitalize }}{% endif %}{%- endcapture -%}
                  {% if block.settings.link != blank and block.settings.block_img != blank and block.settings.image_fit =='contain' %}<a href="{{ block.settings.link | escape }}" title="{{ alt | escape }}">{% endif %}
                  {% if block.settings.block_img != blank %}
                  {% if block.settings.image_fit =='cover' %}
                  <span>&nbsp;</span> 
                  {% else %}
                  {%- render 'image-load', id: block.id, img_src: block.settings.block_img, size: size, alt: alt -%}
                  {% endif %}
                  {% else %}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  {% endif %}
                  {% if block.settings.caption != blank %}<h6 class="toppad">{{ block.settings.caption }}</h6>{% endif %}
                  {% if block.settings.link != blank and block.settings.block_img != blank and block.settings.image_fit =='contain' %}</a>{% endif %}
                </div>
              </div>
            </div>
            {% if block.settings.link != blank and block.settings.block_img != blank and block.settings.image_fit =='cover' %}</a>{% endif %}
          </div>
          
          {% when 'icon' %}

          <div class="product {{ block_width }} animate animate-loop-{{ forloop.index0 }} {{ section.settings.vertical_content_alignment }}" {{ block.shopify_attributes }}>
            <div class="table">
              <div class="table-cell {{ section.settings.vertical_content_alignment }}">
                {% if block.settings.link != blank %}<a href="{{ block.settings.link | escape }}" title="{% if block.settings.caption != blank %}{{ block.settings.caption | escape }}{% else %}{{ block.settings.icon | replace: '-', ' ' | capitalize }}{% endif %}" class="no-deco">{% endif %}
                
                {% if block.settings.icon_color == 'rgba(0,0,0,0)' or block.settings.icon_color == '' %}
                {%- assign icon_color = settings.headline_font_color -%}
                {% else %}
                {%- assign icon_color = block.settings.icon_color -%}
                {% endif %}

                {% if block.settings.icon_color_h == 'rgba(0,0,0,0)' or block.settings.icon_color_h == '' %}
                {%- assign icon_color_h = settings.button_color -%}
                {% else %}
                {%- assign icon_color_h = block.settings.icon_color_h -%}
                {% endif %}
                
                {%- render 'icons', icon: block.settings.icon, size: block.settings.icon_size, color: icon_color, color_h: icon_color_h, icon_class: 'hiwt' -%}
                
                {% if block.settings.caption != blank %}<h6 class="medium toppad">{{ block.settings.caption }}</h6>{% endif %}                
                
                {% if block.settings.link != blank %}</a>{% endif %}
              </div>
            </div>
          </div>
          
          {% endcase %}
          {% endfor %}

        </div>

      </div>
    </div>
  </div>
</section>

<style>
  .content-height-{{ section.id }}{height:{{ section.settings.padding }}vh;min-height:100%}
</style>

{% schema %}
  {
    "name": "Image with text",
	"max_blocks": 6,	
    "settings": [
      {
        "type": "range",
        "id": "padding",
        "min": 25,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "Image fill space height",
        "default": 50
      },
	  {
        "type": "select",
        "id": "vertical_content_alignment",
        "label": "Vertical position",
        "default": "middle",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "middle",
            "label": "Middle"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
	  {
        "type": "select",
        "id": "include_color",
        "label": "Background color",
        "default": "color-none",
        "options": [
          {
            "value": "color-primary",
            "label": "Primary"
          },
          {
            "value": "color-secondary",
            "label": "Secondary"
          },
          {
            "value": "color-none",
            "label": "None"
          }
        ]
      },
      {
       "type": "checkbox",
       "id": "full_width",
       "label": "Full width background",
       "default": true
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Image with text"
          },
          {
            "type": "text",
            "id": "sub_title",
            "label": "Subheading"
          },
          {
            "type": "richtext",
            "id": "body",
            "label": "Text",
			"default": "<p>Show custom content to provide an overview of the image and heading</p>"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "button",
            "label": "Button"
          },
          {
            "type": "checkbox",
            "id": "outline_button",
            "label": "Outline button",
            "default": false
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Alignment",
            "default": "text-left",
            "options": [
              {
                "value": "text-left",
                "label": "Left"
              },
              {
                "value": "text-center",
                "label": "Center"
              },
              {
                "value": "text-right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "select",
            "id": "block_width",
            "label": "Container width",
            "default": "4",
            "options": [
              {
                "value": "3",
                "label": "25%"
              },
              {
                "value": "4",
                "label": "33%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "8",
                "label": "66%"
              },
              {
                "value": "9",
                "label": "75%"
              }
            ]
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "block_img",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "image_fit",
            "label": "Image fit",
            "default": "contain",
            "options": [
              {
                "value": "cover",
                "label": "Fill space"
              },
              {
                "value": "contain",
                "label": "Fit to space"
              }
            ]
          },
          {
            "type": "select",
            "id": "background_alignment",
            "label": "Fill space image position",
            "default": "center center",
            "options": [
              {
                "label": "Top left",
                "value": "left top"
              },
              {
                "label": "Top center",
                "value": "center top"
              },
              {
                "label": "Top right",
                "value": "right top"
              },
              {
                "label": "Middle left",
                "value": "left center"
              },
              {
                "label": "Middle center",
                "value": "center center"
              },
              {
                "label": "Middle right",
                "value": "right center"
              },
              {
                "label": "Bottom left",
                "value": "left bottom"
              },
              {
                "label": "Bottom center",
                "value": "center bottom"
              },
              {
                "label": "Bottom right",
                "value": "right bottom"
              }
            ]
          }, 
          {
            "type": "text",
            "id": "caption",
            "label": "Caption"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "select",
            "id": "block_width",
            "label": "Container width",
            "default": "4",
            "options": [
              {
                "value": "2",
                "label": "12.5%"
              },
              {
                "value": "3",
                "label": "25%"
              },
              {
                "value": "4",
                "label": "33%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "8",
                "label": "66%"
              },
              {
                "value": "9",
                "label": "75%"
              },
              {
                "value": "10",
                "label": "87.5%"
              },
              {
                "value": "12",
                "label": "100%"
              }
            ]
          }
        ]
      },
	  {
        "type": "icon",
        "name": "Icon",
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "default": "shield",
            "options": [
              {
                "group": "TRUST",
                "value": "lock",
                "label": "Lock"
              },
              {
                "group": "TRUST",
                "value": "lock-open",
                "label": "Lock - Open"
              },
              {
                "group": "TRUST",
                "value": "lock-round",
                "label": "Lock - Round"
              },
              {
                "group": "TRUST",
                "value": "lock-round-open",
                "label": "Lock - Round open"
              },
              {
                "group": "TRUST",
                "value": "shield",
                "label": "Shield"
              },
              {
                "group": "TRUST",
                "value": "shield-hero",
                "label": "Shield - Hero"
              },
              {
                "group": "TRUST",
                "value": "shield-star",
                "label": "Shield - Star"
              },
              {
                "group": "TRUST",
                "value": "shield-power",
                "label": "Shield - Power"
              },
              {
                "group": "TRUST",
                "value": "shield-check",
                "label": "Shield - Check"
              },
			  {
                "group": "MOTIVATION",
                "value": "certificate",
                "label": "Certificate"
              },
              {
                "group": "MOTIVATION",
                "value": "fire",
                "label": "Hot"
              },
              {
                "group": "MOTIVATION",
                "value": "leaf",
                "label": "Eco-friendly"
              },
              {
                "group": "MOTIVATION",
                "value": "medal",
                "label": "Medal"
              },
              {
                "group": "MOTIVATION",
                "value": "power",
                "label": "Power"
              },
              {
                "group": "MOTIVATION",
                "value": "recycle",
                "label": "Recycle"
              },
              {
                "group": "MOTIVATION",
                "value": "star",
                "label": "Star"
              },
              {
                "group": "MOTIVATION",
                "value": "trophy",
                "label": "Trophy"
              },
              {
                "group": "SUPPORT",
                "value": "computer",
                "label": "Computer"
              },
			  {
                "group": "SUPPORT",
                "value": "email",
                "label": "E-mail"
              },
			  {
                "group": "SUPPORT",
                "value": "email-fast",
                "label": "E-mail - Fast"
              },
			  {
                "group": "SUPPORT",
                "value": "gear",
                "label": "Gear"
              },
              {
                "group": "SUPPORT",
                "value": "hammer",
                "label": "Hammer"
              },
              {
                "group": "SUPPORT",
                "value": "help",
                "label": "Help"
              },
              {
                "group": "SUPPORT",
                "value": "screwdriver",
                "label": "Screwdriver"
              },
              {
                "group": "SUPPORT",
                "value": "wrench-screwdriver",
                "label": "Screwdriver and wrench"
              },
              {
                "group": "SUPPORT",
                "value": "smartphone",
                "label": "Smartphone"
              },
              {
                "group": "SUPPORT",
                "value": "support",
                "label": "Support"
              },
              {
                "group": "SUPPORT",
                "value": "telephone",
                "label": "Telephone"
              },
              {
                "group": "SUPPORT",
                "value": "telephone-answer",
                "label": "Telephone - Answered"
              },
              {
                "group": "SUPPORT",
                "value": "wrench",
                "label": "Wrench"
              },
			  {
                "group": "COMMERCE",
                "value": "box",
                "label": "Box"
              },
			  {
                "group": "COMMERCE",
                "value": "box-fast",
                "label": "Box - Fast"
              },
			  {
                "group": "COMMERCE",
                "value": "box-label",
                "label": "Box - Label"
              },
			  {
                "group": "COMMERCE",
                "value": "box-up",
                "label": "Box - Up"
              },
              {
                "group": "COMMERCE",
                "value": "dress",
                "label": "Clothing - Dress"
              },
              {
                "group": "COMMERCE",
                "value": "pants",
                "label": "Clothing - Pants"
              },
              {
                "group": "COMMERCE",
                "value": "shirt",
                "label": "Clothing - T-shirt"
              },
              {
                "group": "COMMERCE",
                "value": "tank-top",
                "label": "Clothing - Tank top"
              },
              {
                "group": "COMMERCE",
                "value": "credit-card",
                "label": "Credit card"
              },
              {
                "group": "COMMERCE",
                "value": "delivery-scooter",
                "label": "Delivery - Scooter"
              },
              {
                "group": "COMMERCE",
                "value": "delivery-truck",
                "label": "Delivery - Truck"
              },
              {
                "group": "COMMERCE",
                "value": "delivery-truck-speed",
                "label": "Delivery - Truck fast"
              },
              {
                "group": "COMMERCE",
                "value": "hand-cart-1",
                "label": "Hand cart 1"
              },
              {
                "group": "COMMERCE",
                "value": "hand-cart-2",
                "label": "Hand cart 2"
              },
              {
                "group": "COMMERCE",
                "value": "tag",
                "label": "Tag"
              },
              {
                "group": "COMMERCE",
                "value": "tag-text",
                "label": "Tag - Text"
              },
              {
                "group": "COMMERCE",
                "value": "weight-kg",
                "label": "Weight - kg"
              },
              {
                "group": "COMMERCE",
                "value": "weight-lb",
                "label": "Weight - lb"
              },
			  {
                "group": "INFORMATION",
                "value": "calendar",
                "label": "Calendar"
              },
              {
                "group": "INFORMATION",
                "value": "chat-box",
                "label": "Chat - Box"
              },
              {
                "group": "INFORMATION",
                "value": "chat-bubble",
                "label": "Chat - Bubble"
              },
              {
                "group": "INFORMATION",
                "value": "chat-information",
                "label": "Chat - Information"
              },
              {
                "group": "INFORMATION",
                "value": "chat-social",
                "label": "Chat - Social"
              },
              {
                "group": "INFORMATION",
                "value": "chat-question",
                "label": "Chat - Question"
              },
              {
                "group": "INFORMATION",
                "value": "clipboard",
                "label": "Clipboard"
              },
              {
                "group": "INFORMATION",
                "value": "edit",
                "label": "Edit"
              },
              {
                "group": "INFORMATION",
                "value": "information",
                "label": "Information"
              },
              {
                "group": "INFORMATION",
                "value": "map",
                "label": "Map"
              },
              {
                "group": "INFORMATION",
                "value": "map-marker",
                "label": "Map marker"
              },
              {
                "group": "INFORMATION",
                "value": "newsletter",
                "label": "Newsletter"
              },
              {
                "group": "INFORMATION",
                "value": "pencil",
                "label": "Pencil"
              },
              {
                "group": "INFORMATION",
                "value": "question",
                "label": "Question"
              },
              {
                "group": "HEALTH",
                "value": "covid",
                "label": "COVID"
              },
              {
                "group": "HEALTH",
                "value": "covid-warning",
                "label": "COVID - Warning"
              },
              {
                "group": "HEALTH",
                "value": "distancing",
                "label": "Distancing"
              },
              {
                "group": "HEALTH",
                "value": "hands-sanitize",
                "label": "Hands - Sanitize"
              },
              {
                "group": "HEALTH",
                "value": "hands-wash",
                "label": "Hands - Wash"
              },
              {
                "group": "HEALTH",
                "value": "mask-1",
                "label": "Mask 1"
              },
              {
                "group": "HEALTH",
                "value": "mask-2",
                "label": "Mask 2"
              },
			  {
                "group": "MISCELLANEOUS",
                "value": "axe",
                "label": "Axe"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "bell-ring",
                "label": "Bell"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "bookmark",
                "label": "Bookmark"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "camera",
                "label": "Camera"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "clock",
                "label": "Clock"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "cloud",
                "label": "Cloud"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "cloud-check",
                "label": "Cloud with check"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "crown",
                "label": "Crown"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "diamond",
                "label": "Diamond"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "heart",
                "label": "Heart"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "history",
                "label": "History"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "bulb",
                "label": "Light bulb"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "megaphone",
                "label": "Megaphone"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "paper-plane",
                "label": "Paper plane"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "piggy-bank",
                "label": "Piggy bank"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "pin",
                "label": "Pin"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "rocket",
                "label": "Rocket"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "horns",
                "label": "Rock on!"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "speed",
                "label": "Speed"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "sync",
                "label": "Sync"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "thumbs-up",
                "label": "Thumbs up"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "ticket",
                "label": "Ticket"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "trash",
                "label": "Trash"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "volume",
                "label": "Volume"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "warning",
                "label": "Warning"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "warning-disabled",
                "label": "Warning - Disabled"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "warning-skull",
                "label": "Warning - Skull"
              },
              {
                "group": "MISCELLANEOUS",
                "value": "warning-stop",
                "label": "Warning - Stop"
              }
            ]
          },
		  {
            "type": "select",
            "id": "icon_size",
            "label": "Icon size",
            "default": "48",
            "options": [
              {
                "value": "26",
                "label": "Small"
              },
              {
                "value": "34",
                "label": "Medium"
              },
              {
                "value": "48",
                "label": "Large"
              },
              {
                "value": "64",
                "label": "X-Large"
              }
            ]
          },
          {
            "type": "color",
            "id": "icon_color",
            "label": "Icon color"
          },
          {
            "type": "color",
            "id": "icon_color_h",
            "label": "Icon highlight color"
          },
          {
            "type": "text",
            "id": "caption",
            "label": "Caption"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "select",
            "id": "block_width",
            "label": "Container width",
            "default": "4",
            "options": [
              {
                "value": "2",
                "label": "12.5%"
              },
              {
                "value": "3",
                "label": "25%"
              },
              {
                "value": "4",
                "label": "33%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "8",
                "label": "66%"
              },
              {
                "value": "9",
                "label": "75%"
              },
              {
                "value": "10",
                "label": "87.5%"
              },
              {
                "value": "12",
                "label": "100%"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Image",
        "blocks" : [
          {
            "type": "image"
          },
          {
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}