{%- assign full_width = section.settings.full_width -%}

<section data-section-id="{{ section.id }}" 
         data-section-type="home_slideshow"
         data-slideshow-type="image"
         id="slideshow-{{ section.id }}"
         class="{% if section.blocks.size > 1 %}glider-enabled {% endif %}{% if settings.animation_enable %}animate-section-div {% endif %}clearfix">
  
  <div{% unless full_width %} class="container no-pad"{% endunless %}>
    <div class="glider-contain tab-body">

      <div{% if section.blocks.size > 1 %} id="glider-carousel-{{ section.id }}" data-glider-autoplay="{{ section.settings.auto_rotate_every | times: 1000 }}" data-glider-autorotate="{% if section.settings.auto_rotate %}true{% else %}false{% endif %}" class="glider slideshow"{% endif %}>
        <div class="glider-track slideshow">
          {% capture section_onboarding_text %}
          <div class="tab-body placeholder-svg-background with-height background-cover lazyload clearfix">
            <div class="table content-height-{{ section.id }}">
              <div class="table-cell">
                <div class="container{% if settings.animation_enable %} animate-section load{% endif %} clearfix">
                  <div class="six animate text-center center white">
                    <h2 class="h1">{{ 'homepage.onboarding.slide_no_title' | t }}</h2>
                    <h3>{{ 'homepage.onboarding.no_body' | t }}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endcapture %}
          {% if section.blocks.size == 0 %}
          {{ section_onboarding_text }}
          {% endif %}

          {% for block in section.blocks %}

          {% if block.settings.block_img != blank %}
          {%- assign section_onboarding = false -%}
          {% else %}
          {%- assign section_onboarding = true -%}
          {% endif %}

          <div class="tab-body{% if section.blocks.size > 1 %} glider-slide{% if forloop.first %} active center visible{% endif %}{% endif %}" {% if section.blocks.size > 1 %} data-gslide="{{ forloop.index0 }}" data-glider="{% if forloop.first %}loaded{% else %}unloaded{% endif %}"{% endif %} {{ block.shopify_attributes }}>          
            <div{% if block.settings.block_img != blank and full_width %} 
                 class="background-cover clearfix"
                 data-bgset="{{ image_data | strip }}"
                 data-sizes="auto"
                 style="background:url({{ block.settings.block_img | img_url: '1x' }}) center center no-repeat;"
                 {% endif %}>
              <div class="center"{% if block.settings.block_img != blank %} style="max-width:{{ block.settings.block_img.width }}px"{% endif %}>
                {%- capture alt -%}{% if block.settings.block_img.alt != blank %}{{ block.settings.block_img.alt }}{% else %}{{ block.settings.block_img | split: '/' | last | replace: '-', ' ' | replace: '_', ' ' | split: '.' | first | capitalize }}{% endif %}{%- endcapture -%}
                {% if section_onboarding %}
                {{ section_onboarding_text }}
                {% else %}
                {% if block.settings.link != blank %}<a href="{{ block.settings.link | escape }}" title="{{ alt | escape }}">{% endif %}
                {% if full_width %}
                {%- assign size = 2560 -%}
                {% else %}
                {%- assign size = 1200 -%}
                {% endif %}
                {%- render 'image-load', id: block.id, img_src: block.settings.block_img, size: size, alt: alt -%}
                {% if block.settings.link != blank %}</a>{% endif %}
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      {% if section.blocks.size > 1 %}
      <div id="glider-pagination-{{ section.id }}" class="glider-pagination slideshow-carousel">
        <div id="glider-button-prev-{{ section.id }}" class="tabindex glider-button-prev" role="button" aria-label="{{ 'products.general.previous' | t }}">{%- render 'icons-theme', icon: 'left', size: '16' -%}</div>
        <div id="glider-button-next-{{ section.id }}" class="tabindex glider-button-next" role="button" aria-label="{{ 'products.general.next' | t }}">{%- render 'icons-theme', icon: 'right', size: '16' -%}</div>
      </div>
      {% endif %}

    </div>
  </div>

</section>

{% schema %}
  {
    "name": "Slideshow with image",
	"max_blocks": 4,
    "settings": [
      {
        "type": "paragraph",
    	"content": "To add text, try the 'Slideshow with Text' section. [Learn more](https:\/\/redplugdesign.zendesk.com\/hc\/en-us\/articles\/360012059333)"
      },
      {
        "type": "checkbox",
        "id": "auto_rotate",
        "label": "Auto-rotate slides",
        "default": false
      }, 
      {
        "type": "range",
        "id": "auto_rotate_every",
        "min": 5,
        "max": 10,
        "step": 1,
        "unit": "sec",
        "label": "Change slides every",
        "default": 5
      },
	  {
       "type": "checkbox",
       "id": "full_width",
       "label": "Full width",
       "default": true
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
		  {
             "type": "header",
             "content": "Slide",
             "info": "If you want to add text, consider using the Slideshow with Text section"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Background"
          },
          {
            "type": "image_picker",
            "id": "block_img",
            "label": "Image",
        	"info": "1900px recommended"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slideshow with image",
        "category": "Image",
        "blocks": [
          {
            "type": "slide"
          },
          {
            "type": "slide"
          },
          {
            "type": "slide"
          }
        ]
      }
    ]
  }
{% endschema %}